
.calc{
  width:320px;
  margin:100px auto;
}

#answer{
width:295px;
height: 45px;;
font-size: 35px;
padding:10px;
text-align: right;
border:2px solid black;
}

.button{
  background-color:#333;
  color:white;
  font-size: 30px;
  width:80px;
  height: 80px;
  border: 1px solid black;
  float: left;
}

.button1{
  width:160px;
}